@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    display: flex;
}

.left-col {
    display: inline-grid;
    place-items: center;
    height: 100vh;
    width: 50rem;
    background: url(https://images.pexels.com/photos/775201/pexels-photo-775201.jpeg);
    background-size: cover;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, .75);
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.right-col {
    display: inline-block;
}

.description-area {
    padding: 2rem;
}

h2 {
    margin: 5rem 0 2rem 0;
}

.input-field-area {
    padding: 3.5rem 2rem;
    box-shadow: 0px 0px 15px #888888;
    display: flexbox;
}

.input-field {
    display: inline-block;
    margin: .5rem;
}

.input-field label {
    display: block;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.input-field input {
    font-size: 1.25rem;
    padding: .25rem;
    margin-top: .5rem;
    border: 1px solid black;
    border-radius: .3rem;
}

.submit-form-area {
    padding: 2rem;
}

.submit-form-area input {
    background: #df2597;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.75rem;
    border: none;
    border-radius: 0.75rem;
    padding: .5rem 1.25rem;
    margin: .5rem 0;
}

.submit-form-area input:hover {
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .description-area {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    .left-col {
        width: 100%;
        height: 15rem;
    }
}